/*GLOBAL VARIABLES*/
$color-1: #000;
$color-2: #fff;
$color-3: orange;
$color-4: gray;
$color-5: #56b4db;
$color-6: yellow;
$color-7: gainsboro;
$color-8: #55d7dc;
$color-9: yellowgreen;
$color-10: #999999;
$color-11: #e3e6e9;
$color-12: #cacaca;
$color-13: green;
$color-14: lightgray;
$color-15: #395a9a;
$color-16: #d9534f;
$background-1: linear-gradient(0deg, white 0%, gray 100%);
$background-2: rgba(196, 196, 196, 0.5);
$background-3: #f4f6f8;
$background-4: rgba(128, 128, 128, 0.7);
$background-5: rgba(196, 196, 196, 0.3);
$box-shadow-1: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
$box-shadow-2: inset 0 0 6px rgba(0, 0, 0, 0.3);
$box-shadow-3: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
$border-1: rgba(255, 255, 255, 0);
/*END GLOBAL VARIABLES*/

/*GLOBAL CSS*/
body,
html {
  font-family: "Noto Sans KR", sans-serif;
}

img {
  max-width: 100%;
}

.row > * {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}
.white {
  color: $color-2;
}

.h-full {
  height: 100%;
}

.w-full {
  width: 100%;
}

.space {
  padding-top: 100px;
  padding-bottom: 100px;
}

.space2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.space3 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.space4 {
  padding-top: 100px;
}

.box {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
}

.colorMeOrange {
  color: $color-3;
}

.grey-title {
  background: $color-7;
  padding: 10px;
}

.blank {
  border: none;
  border-bottom: 1px solid grey;
}

.show {
  display: block !important;
}
.hide {
  display: none !important;
}

.grid {
  display: grid !important;
}

.link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.icons {
  font-size: 24px;
}

.icons2 {
  font-size: 40px;
}

.h-64 {
  height: 64px;
}

.fb {
  background: $color-15;
}

.google {
  background: $color-16;
}

.draw-border {
  box-shadow: inset 0 0 0 4px $color-2;
  color: $color-2;
  transition: color 0.25s 0.0833333333s;
  position: relative;
}
.draw-border::before,
.draw-border::after {
  border: 0 solid transparent;
  box-sizing: border-box;
  content: "";
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  bottom: 0;
  right: 0;
}
.draw-border::before {
  border-bottom-width: 4px;
  border-left-width: 4px;
}
.draw-border::after {
  border-top-width: 4px;
  border-right-width: 4px;
}
.draw-border:hover {
  color: $color-6;
}
.draw-border:hover::before,
.draw-border:hover::after {
  border-color: $color-6;
  transition: border-color 0s, width 0.25s, height 0.25s;
  width: 100%;
  height: 100%;
}
.draw-border:hover::before {
  transition-delay: 0s, 0s, 0.25s;
}
.draw-border:hover::after {
  transition-delay: 0s, 0.25s, 0s;
}

.crd_btn {
  background: none;
  border: none;
  cursor: pointer;
  line-height: 1.5;
  padding: 10px;
  letter-spacing: 0.05rem;
  font-weight: 500;
}
.crd_btn:focus {
  outline: 2px dotted $color-8;
}
.crd_btn.active {
  box-shadow: inset 0 0 0 4px $color-6;
  color: $color-6;
}

.courses li a,
.footer-menu li a {
  text-decoration: none;
  color: $color-1;
}

.courses li a:hover,
.footer-menu li a:hover {
  text-decoration: underline;
  font-weight: bold;
}

.featured-courses .control-left,
.student-reviews .control-left {
  font-size: 70px;
  position: absolute;
  top: 40%;
  left: -50px;
  cursor: pointer;
}

.featured-courses .control-right,
.student-reviews .control-right {
  font-size: 70px;
  position: absolute;
  top: 40%;
  right: -50px;
  cursor: pointer;
}

.slick-dots li button:before {
  font-size: 15px !important;
}

.instructions-label {
  background: #c4c4c4;
  padding: 0 20px;
  border-radius: 5px;
  transform: translate(10px, 20px);
}

.instructions-textarea{
  padding-top: 20px;
}
/*END OF GLOBAL CSS*/

/*NAV*/
.navigationbar {
  border-bottom: 1px solid $color-1;

  .nav-item:not(:last-child) {
    padding-right: 50px;
  }

  .notif-count {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    padding: 2px;
    background: $color-9;
    color: $color-2;
    text-align: center;
    font: 14px Arial, sans-serif;
    display: inline-block;
    margin-right: 5px;
  }
}
/*END OF NAV*/

/*FOOTER*/
.footer-links {
  background: $background-4;

  ul {
    list-style: none;
    padding: 0;
  }
}
.footer {
  padding: 20px 0;
}
/*END OF FOOTER*/

/*BANNER*/
.banner {
  height: 609px;
  display: flex;
  align-items: center;
  text-align: center;
  background: $color-2;
  background: $background-1;

  .tagline {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}
/*END OF BANNER*/

/*FEATURES*/
#features-background {
  background: url(https://vantagebrokerage.com/wp-content/uploads/2020/12/Offerings-home-page-scaled.jpg);
  height: 500px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;
  z-index: -1;
}

#features-background:before {
  background-color: $color-1;
  content: "";
  display: block;
  height: 100%;
  position: absolute;
  width: 100%;
  opacity: 0.5;
}

.features {
  background: $background-4;
  z-index: 1;

  .container {
    margin-top: -25em;
  }

  .feature-box {
    background: $color-2;
    text-align: center;
    justify-content: center;
    padding: 50px 20px;
    margin-bottom: 20px;
    border-radius: 30px;
    min-height: 370px;

    i {
      color: $color-3;
      margin-bottom: 18px;
    }
  }
  .feature-box:hover {
    transform: translateY(-3px);
    box-shadow: rgb(100 100 111 / 20%) 0px 7px 29px 0px;
  }
}
/*END OF FEATURES*/

/*FEATURED COURSES*/
.featured-courses {
  background: $color-5;

  #featured-courses-tab {
    display: flex;
    justify-content: flex-end;

    .nav-item:not(:last-child) {
      padding-right: 10px;
    }
  }

  .slick-track {
    padding-top: 80px !important;
    padding-bottom: 80px !important;
  }

  .card {
    margin: 0 15px;
  }

  .card img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-top: -5em;
  }

  .card-title {
    background: $color-4;
    color: $color-2;
    padding: 10px 0;
  }

  .card-description {
    list-style: none;
    padding: 0;
  }
}
/*END OF FEATURED COURSES*/

/*LEARNER OUTCOMES*/
.learner-outcomes {
  background: $color-2;

  .description {
    height: 100%;
    padding: 20px 85px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
/*END OF LEARNER OUTCOMES*/

/*HOW IT WORKS*/
.how-it-works {
  background: $background-2;

  .how-it-works-description {
    height: 100%;
    display: flex;
    align-items: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
}
/*END OF HOW IT WORKS*/

/*STUDENT REVIEWS*/
.student-reviews {
  background: $background-3;

  .slick-slide.slick-active.slick-center.slick-current {
    transform: scale(1.2);
    z-index: 1;
    position: relative;
    box-shadow: $box-shadow-1;
  }

  .slick-track {
    padding-top: 130px !important;
    padding-bottom: 75px !important;
  }
}
/*END OF STUDENT REVIEWS*/

/*ALL COURSES*/
.all-courses {
  .courses {
    list-style: none;
  }
}

.tab-pane {
  padding: 20px 0;
}
/*END OF ALL COURSES*/

/*MY COURSES*/
.my-courses {
  background: $background-5;

  #my-courses {
    background: $color-2;
    justify-content: space-around;
    width: 95%;
    margin-right: auto;
    margin-left: auto;

    .nav-link.active {
      background: $color-3;
      color: $color-2;
    }

    .nav-link {
      color: $color-1;
    }
  }

  #mycourses-tabContent {
    background: $color-2;
    justify-content: space-around;

    .tab-pane {
      padding: 15px;
    }

    .dashboard-courses {
      background: $color-2;
      margin-bottom: 10px;
    }

    .course-box {
      box-shadow: rgb(0 0 0 / 5%) 0px 6px 24px 0px,
        rgb(0 0 0 / 8%) 0px 0px 0px 1px;
      padding: 10px;
      position: relative;
      margin-bottom: 15px;
    }

    .dropstart .dropdown-toggle::before {
      display: none;
    }

    .options {
      position: absolute;
      top: 0.5em;
      right: 0.5em;
      font-size: 23px;

      button {
        border: none;
        background: transparent;
        color: $color-1;
      }
    }

    .viewcourse {
      color: inherit;
      text-decoration: none;
    }

    .viewcourse:hover {
      color: inherit;
    }
  }

  .quote {
    background: $color-2;
    position: relative;

    .quoteDay,
    .wordDay {
      position: relative;
      padding: 26px 29px;
    }
    .quote-left {
      position: absolute;
      top: 0;
      left: 0;
      font-size: 24px;
    }

    .quote-right {
      position: absolute;
      bottom: 0;
      right: 0;
      font-size: 24px;
    }

    .bookmark {
      position: absolute;
      right: 0.3em;
      top: -0.5em;
      color: $color-3;
      font-size: 46px;
    }
  }
}
/*END OF MY COURSES*/

/*RECOMMENDED COURSES*/
.recommended-courses {
  background: $background-5;

  img {
    width: 110px;
    height: auto;
  }

  .g-4 {
    display: flex;
    justify-content: center;
  }

  .d-flex {
    background: $color-2;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 10px;
    margin-bottom: 10px;
  }

  .recommended-courses-nav {
    display: flex;
    justify-content: flex-end;
  }
}
/*END OF RECOMMENDED COURSES*/

/*FEATURED REALTIME REVIEWS*/
#featured-realtime-reviews {
  background: $background-3;

  .slick-slide.slick-active.slick-center.slick-current {
    transform: scale(1.2);
    z-index: 1;
    position: relative;
    box-shadow: $box-shadow-1;
  }

  .slick-track {
    padding-top: 130px !important;
    padding-bottom: 75px !important;
  }

  .control-left {
    font-size: 23px;
    position: absolute;
    top: 0;
    right: 1.5em;
    cursor: pointer;
    color: $color-10;
    background: $color-2;
    border-radius: 10px 0 0 10px;
    padding: 0px 10px;
    border: 1px solid $color-10;
    z-index: 1;
  }

  .control-right {
    font-size: 23px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    color: $color-10;
    background: $color-2;
    border-radius: 0 10px 10px 0;
    padding: 0px 10px;
    border: 1px solid $color-10;
    z-index: 1;
  }

  .realtime-reviews {
    overflow-y: scroll;
    position: relative;
    height: 465px;
    padding: 10px 40px 10px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    background: #fff;
    box-shadow: 0 0 14px #e3e6e9;

    .r-reviews {
      background: $color-2;
      padding: 36px 10px 35px;
      border-bottom: 1px solid $color-12;
      align-items: center;

      .desc {
        width: 100%;
      }

      p {
        margin-bottom: 0;
      }

      img {
        width: 70px;
        height: 70px;
        border-radius: 50%;
      }

      i.fas.fa-star {
        color: $color-3;
      }
    }
  }
  .realtime-reviews::-webkit-scrollbar {
    width: 0;
  }

  .realtime-reviews::-webkit-scrollbar-track {
    box-shadow: $box-shadow-2;
  }

  .realtime-reviews::-webkit-scrollbar-thumb {
    background-color: transparent;
    outline: 1px solid transparent;
  }
}
/*END OF FEATURED REALTIME REVIEWS*/

.featured-reviews {
  display: flex;
  overflow: hidden;
  height: 100%;
  align-items: center;
}

.courses {
  list-style: none;
}

#course-summary-nav .nav-link.active {
  border-bottom: black 5px solid;
  border-top-color: rgba(255, 255, 255, 0) !important;
  border-left-color: rgba(255, 255, 255, 0) !important;
  border-right-color: rgba(255, 255, 255, 0) !important;
}

/*COURSE*/
.p-course-banner {
  background: #c4c4c4;
}
.course-image img {
  padding: 20px;
}
.course-description {
  height: 100%;
  display: flex;
  align-items: center;
}
.course-details {
  background: rgba(196, 196, 196, 0.6);
}

#course-summary-nav {
  justify-content: space-around;
}

/*INSIDE A COURSE*/
.p-course-banner {
  background: $background-5;

  .course-image img {
    padding: 20px;
  }

  .course-description {
    height: 100%;
    display: flex;
    align-items: center;
  }
}

.course-details {
  background: $background-2;
}

//sidebar .week
.sidenav_container{
  background: #c4c4c4;
  padding-top: 10px;
  padding-bottom: 150px;
  position: relative;
  height: 100%;
}
#sidenav {
  background: #c4c4c4;
  }
.week {
  text-align: center;
  background: $background-5;
  color: $color-1;
  padding: 10px;
}

.week h1 {
  font-size: 3em;
}

.lesson-sidebar .active {
  color: $color-2;
  background-color: $color-1 !important;
  border-radius: 0;
}

.lesson-sidebar .nav-link {
  width: 100%;
  text-align: left;
}
.lesson-sidebar > .nav-link {
  font-weight: 600;
}

.lesson-sidebar .active:hover {
  color: $color-2;
}

#nav-left {
  height: 100%;
}

#sidebar_icon,
#notes_icon {
  height: 45px;
  width: 45px;
  background: $color-1;
  border-radius: 50%;
  color: #fff;
  padding: 10px 0 0 10px;
  margin: 10px 0 25px 10px;
  z-index: 9999;
}
#notes_icon {
  margin: 10px 10px 25px 0;
  display: none;
}

.nav-link {
  color: #000;
}

.sub-menu {
  transition: height 0.5s ease-in-out;
  overflow: hidden;
}
.sub-menu:not(.sub_show) {
  display: none;
}

#sidebar-left,
#sidebar-right {
  transition: width 0.5s ease-in;
  overflow: hidden;
}

#sidebar_icon {
  display: none;
}

.course-summary {
  #course-summary-nav .nav-link.active {
    border-bottom: $color-1 5px solid;
    border-top-color: $border-1 !important;
    border-left-color: $border-1 !important;
    border-right-color: $border-1 !important;
  }

  #course-summary-nav {
    justify-content: space-around;
  }

  /*COURSE INFO*/
  .course-info-main {
    box-shadow: $box-shadow-3;
    padding: 10px;
  }
  .course-info-side {
    background: $background-2;
    box-shadow: $box-shadow-1;
    padding: 10px;
  }

  .list2 {
    list-style-type: lower-alpha;
  }
  .list1 {
    list-style-type: decimal;
  }

  .week {
    text-align: center;
    background: $background-5;
    color: $color-1;
    padding: 10px;
  }

  .week h1 {
    font-size: 3em;
  }

  .course-info-main .box {
    padding: 10px;
  }

  .chapter-content {
    list-style: none;
    padding: 0;
  }
  .course-info-main .accordion-body {
    padding: 0;
  }

  .chapter-content li {
    border-bottom: 1px solid $color-12;
    padding: 2px 20px;
    position: relative;
  }

  .ratings {
    align-items: center;
  }

  #nav-student-reviews .rates {
    align-items: center;
    border: 1px solid $color-4;
    padding: 10px;
  }

  .sort {
    justify-content: center;
  }

  .reviews {
    border-bottom: 3px solid $color-1;
    margin-bottom: 10px;
  }
  .related-courses {
    background: $color-2;
    box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
    padding: 10px;
    margin-bottom: 10px;
  }
  .related-courses img {
    width: 110px;
    height: auto;
  }
  .done {
    position: absolute;
    right: 55px;
    font-size: 20px;
    color: $color-13;
  }

  .checked {
    color: $color-3;
  }

  .course-start-ratings {
    border: 1px solid $color-4;
    padding: 10px 10px 0;
    border-radius: 10px;
    margin-bottom: 10px;
  }

  .course-info-main .box {
    margin-bottom: 25px;
  }

  .timelines {
    border: 1px solid $color-4;
    padding: 10px 10px 10px 20px;
    display: flex;
    width: 100%;
  }

  .timeline-box:not(:last-child) {
    margin-bottom: 15px;
  }

  .notes-container {
    background: #c4c4c4;
    padding-top: 10px;
    padding-bottom: 150px;
    position: relative;
    height: 100%;
  }

  .course-forum .accordion-body {
    padding: 0;
  }

  .chapter-content {
    margin-bottom: 0;
  }

  .lesson-sidebar .active {
    color: $color-2;
    background: $color-1;
    border-radius: 0;
  }

  .lesson-sidebar .active:hover {
    color: $color-2;
  }

  .my-course-goals-title,
  .my-bookmarks-title,
  .my-notes-title {
    background: $color-7;
    padding: 10px;
  }

  .my-course-goals-desc,
  .my-bookmarks-desc,
  .my-notes-desc {
    padding: 10px;
    border-bottom: 1px solid $color-7;
  }

  .my-course-goals-title button,
  .my-bookmarks-desc button,
  .my-notes-desc button {
    background: transparent;
    border: none;
  }

  .courses li a,
  .footer-menu li a {
    text-decoration: none;
    color: #000;
  }

  #course-categories .nav-item:not(:last-child),
  #course-topics .nav-item:not(:last-child) {
    padding-right: 0;
  }

  .options button {
    border: none;
    background: transparent;
    color: #212529;
  }
  .dropstart .dropdown-toggle::before {
    display: none;
  }

  .thread-body .card {
    padding: 10px;
  }
}

/*END OF INSIDE A COURSE*/

.sub-menu {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
.sub-menu li button{
  font-size: 15px;
  padding:5px;
  padding-left: 20px;
}
.sub-menu li button.active {
  border: 3px solid $color-2;
  width: 100%;
}

.button-daLink:hover {
  text-decoration: underline;
}

.button-lessonLink {
  text-decoration: none;
  color: inherit;
}

.button-lessonLink:hover {
  text-decoration: underline;
}
/*END OF INSIDE A LESSON*/

/*LESSON OUTLOOK 2*/
#sidenav-content .week {
  text-align: center;
  background: $background-5;
  color: $color-1;
  padding: 10px;
  height: 100%;
  /* display: flex; */
  align-items: center;
  justify-content: center;
}

#scrollToTopButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  color: black; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 3em; /* Increase font size */
}

#scrollToTopButton:hover {
  color: $color-4; /* Add a dark-grey background on hover */
}

/*Design in Recent Forums section*/
.recent-forums-details {
  border-bottom: 2px solid $color-14;
  padding: 1em;
  margin-top: 1em;
}

.box-forum {
  margin-top: 1.5em;
  border: 1px solid $color-4;
}
.forum-title {
  padding-top: 1em;
}
/*Design in Nonpro-started Course: Finished Topics section*/
.my-finished-topics {
  width: 95%;
  justify-content: center;
  margin-left: auto !important;
  margin-right: auto !important;
  margin: 1em;
}

/*FUNCTIONS*/

// MULTIPLE CHOICE WITH IMG
.multi_choice {
  display: none;
}
.multi_img .multi_choice + label {
  display: block;
  text-align: center;
  width: 300px;
  padding: 15px 10px;
  background: $color-4;
  font-size: 35px;
  color: $color-1;
  margin: 10px auto;
}

.multi_img .multi_choice:checked + label {
  background: $color-1;
  color: $color-2;
}

.multi_img .multi_choice:checked + label.correct {
  background: #cbf391;
  color: $color-1;
}
.multi_img .multi_choice:checked + label.wrong {
  background: #ed322e;
  color: $color-2;
}

.multi_img .definition_container {
  display: none;
  text-align: center;
  padding: 10px 35px;
  border: 1px solid #000;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.multi_img .definition_container h3 {
  text-transform: uppercase;
  font-weight: 600;
}

.multi_img .fas {
  display: none;
}
.multi_img .correct-overlay i.fa-check-circle,
.multi_img .wrong-overlay i.fa-times-circle {
  display: block !important;
  font-size: 100px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 45%;
  text-align: center;
  z-index: 999;
  transition: all ease 0.5s;
}
.multi_img .correct-overlay .overlay,
.multi_img .wrong-overlay .overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  background: rgba(255, 255, 255, 0.5);
  z-index: 999;
  left: 0;
  top: 0;
  transition: all ease 0.5s;
}

//MULTIPLE CHOICE WITH BLANK

.multi_blank .form-group {
  display: inline-block;
  width: 25%;
}
.multi_blank .multi_choice + label {
  display: block;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px auto;
  border-radius: 10px;
  border: 1px solid #000;
}

.multi_blank .multi_choice:checked + label.correct {
  background: #008000;
  color: $color-2;
}
.multi_blank .multi_choice:checked + label.wrong {
  background: #ff0000;
  color: $color-2;
}
.multi_blank .multi_choice + label.show_correct {
  background: #0000ff;
  color: $color-2;
}

.multi_blank .question input {
  border: 0;
  border-bottom: 1px solid #000;
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  max-width: 180px;
  pointer-events: none;
}

.multiple_choice .answer_explanation,
.true_false .answer_explanation {
  opacity: 0;
  background: rgba(196, 196, 196, 0.5);
  padding: 10px;
  margin: 10px 0;
  transition: all ease 1s;
  height: 0;
  border-radius: 10px;
  max-height: 80px;
}
.multiple_choice .answer_explanation.show,
.true_false .answer_explanation.show {
  opacity: 1;
  height: 100%;
}
.multiple_choice .answer_explanation p,
.true_false .answer_explanation p {
  margin: 0;
}
.multiple_choice .answer_explanation b,
.true_false .answer_explanation b {
  color: #008000;
}

//END OF MULTIPLE CHOICE

//MULTIPLE ITEM
.multi-items-container .item {
  display: none;
}
.multi-items-container .items-navigation{
  text-align: right;
  margin-top: 30px;
  padding-right: 20px;
}
.multi-items-container .items-navigation .icons{
  font-size: 35px;

}

//END OF MULTIPLE ITEM

//TRUE OR FALSE
.true_false .form-group {
  display: inline-block;
  width: 40%;
}
.true_false .multi_choice + label {
  display: block;
  text-align: center;
  padding: 5px 10px;
  font-size: 16px;
  margin: 10px 10px;
  border-radius: 10px;
  border: 1px solid #000;
}

.true_false .multi_choice:checked + label{
  background: $color-1;
  color: $color-2;
}

.true_false .multi_choice:checked + label.correct {
  background: #008000;
  color: $color-2;
}
.true_false .multi_choice:checked + label.wrong {
  background: #ff0000;
  color: $color-2;
}
.true_false .multi_choice + label.show_correct {
  background: #0000ff;
  color: $color-2;
}
//END OF TRUE OR FALSE

//MATCHING TYPE
.matching_type .question{
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}
.matching_type .question.highlight{
  box-shadow: 4px 7px 8px 6px #c4c4c4;
  transition: all ease 0.5s;
}
.matching_type .question input{
  border: 0;
  border-bottom: 1px solid #000;
  pointer-events: none;
  text-align: center;
  font-size: 15px;
}

.matching_type .multi_choice:checked + label {
  background: #000;
  color: $color-2;
}
.matching_type .multi_choice:disabled + label {
  background: #c4c4c4;
}



//END OF MATCHING TYPE


//QUIZ
.choices {
  padding: 5px 30px;

  .form-check-input:checked[type="radio"] {
    background-image: none;
  }
}
//END OF QUIZ

//CAFE HOMEWORK
.cafe .input-group-text {
  color: $color-2;
  background-color: $color-1;
}
//END OF CAFE HOMEWORK

//VOCABULARY
.image_column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.image_show_column {
  float: left;
  width: 48%;
  height: 450px;
}
.image_column img,
.intro_image_column img {
  width: 100%;
  cursor: pointer;
}
.show_image_container {
  display: none;
}
.arrow_buttons {
  position: absolute;
  right: 20%;
  bottom: 15px;
}
.arrow_buttons button:first-child {
  margin-right: 5px;
}
//END OF VOCABULARY

//EXPRESSIONS
.content_column {
  float: left;
  width: 48%;
}
.word_button {
  width: 100%;
  margin-bottom: 15px;
}
//END OF EXPRESSIONS

// VOCABULARY AND EXPRESSIONS MODAL
.btn_modal {
  width: 80%;
  background-color: $background-4;
}
//END OF VOCABULARY AND EXPRESSIONS MODAL

//WORD BANK
.note_button {
  position: relative;
  margin-top: 35px;
}
//END OF WORD BANK

//MINTUBE
.intro_image_column {
  float: left;
  width: 25%;
  padding: 5px;
}
//END OF MINTTUBE

/*START OF MEDIA QUERIES*/
@media (max-width: 1024px) {
  .recommended-courses .d-flex {
    display: block !important;
  }
  .recommended-courses img {
    width: 100% !important;
  }
  #realtimereviews-title {
    margin-top: 50px;
  }

  .image_show_column,
  .content_column {
    width: 100%;
  }
  .arrow_buttons {
    right: 45%;
  }
  .btn_modal {
    width: 50%;
    margin-bottom: 5px;
  }
}

@media (max-width: 768px) {
  .recommended-courses .g-4 {
    display: block;
    text-align: center;
  }
  .recommended-courses .col-sm-3 {
    width: 100%;
    margin: 0;
  }
  .d-flex {
    display: block !important;
  }
  .d-flex img {
    width: 50% !important;
    height: 50% !important;
  }
  #my-courses {
    justify-content: center;
  }
  .how-it-works .how-it-works-description {
    width: 100%;
  }
  .student-reviews .slick-track,
  #featured-realtime-reviews .slick-track {
    padding-top: 0 !important;
    padding-bottom: 15px !important;
  }

  #sidebar_icon,
  #notes_icon {
    display: block;
    position: fixed;
    bottom: 0px;
    left: 0px;
    margin-top: 0px;
    z-index: 9999;
  }

  #notes_icon {
    left: unset;
    right: 0;
  }

  #sidebar-left,
  #sidebar-right {
    display: none;
    z-index: 9999;
    width: 100%;
    height: 100%;
    overflow: scroll;
    position: fixed;
  }

  .image_show_column,
  .content_column {
    width: 100%;
  }
  .arrow_buttons {
    right: 35%;
  }
  .btn_modal {
    width: 50%;
    margin-bottom: 5px;
  }
}
@media (max-width: 480px) {
  .featured-courses .slick-track {
    padding-bottom: 15px !important;
  }
  .card.slick-slide.slick-current.slick-active.slick-center {
    transform: scale(1);
  }

  .d-flex {
    display: block !important;
    text-align: center;
  }
  #mycourses-tabContent .tab-pane {
    padding: 20px;
  }
  .recommended-courses-nav {
    justify-content: center;
  }
  .how-it-works,
  .student-reviews,
  .footer-links {
    text-align: center;
  }
  .how-it-works-description {
    padding: 20px 0;
  }
  .d-grid .btn {
    margin-top: 10px;
  }

  .image_show_column,
  .content_column {
    width: 100%;
  }
  .btn_modal {
    width: 50%;
    margin-bottom: 5px;
  }
  .speaking_action_button button {
    width: 100%;
  }
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  #my-courses .nav-link {
    width: 15%;
  }
  .image_show_column {
    width: 47%;
  }
}

.hide {
  display: none;
}

.btn-gray {
  background-color: $color-12 !important;
  color: black !important;
}

.fillintheblank .col-12 .card ul {
  list-style-type: none;
}

//remove arrows in textbox in Progressive: Chapter Test, Sequencing
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.sequencing-textbox {
  -moz-appearance: textfield;
}
@import "./timeline.scss";
@import "./forums.scss";
@import "./animations.scss";
